<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Noa Shadmon Projects</h1>
       <!--{{ site.title | default: site.github.repository_name }}</h1>-->
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </section>
    <section class="main-content">
      <Center><h3>About me</h3></Center>
        I am a third year computer science and statistics double major at UC Davis.<br>
        Take a look at my <a href = "other/resume.pdf">resume</a>!<br>
        My top 3 current interests are:
        <ul>
          <li>Machine Learning</li>
          <li>Data structures/Database design</li>
          <li>Data Science/Big Data</li>
        </ul>
        <br>
        <Center><h3>Projects</h3></center>
        <ul>
          <li>Data Science Projects</li>
            <ul>
              <li><a href = "sta141a/index.html">STA 141a</a></li>
              <li><a href="sta141b/index.html">STA 141b</a>
                <ul>
                  <li>Final Project: <a href = "noashadmon.github.io/sta141bfinal">Trump in the News</a></li>
                </ul>
              </li>
            </ul>
          <li>Programming Projects (Github Repositories)</li>
            <ul>
              <li>One of my first programming projects was to create a fake Unix environment. This program, called
              <a href="https://github.com/noashadmon/funix">Funix</a> has the commands ls, mkdir, setUmask, chmod, and cd.</li>
              <li>In this project, called <a href = "https://github.com/noashadmon/BTree">BTree</a>, I had to implement the BTree datastructure. This program reads in a file of numbers and stores them in a BTree.</li>
              <li>In the <a href="https://github.com/noashadmon/ecs140">ECS140</a> repository, there are two folders. HW3 includes a project that deals with object oriented programming in java. Here you will find super and sub classes. HW5 is a program written in the language Lisp.</li>
              <li>In <a href="https://github.com/noashadmon/ecs50">ECS50</a> repository there are two folders. P1 has three c++ programs. One takes in a number (base 10) and an input (base you want to change the number to) and calculates the new number with that base. The other does matrix multiplication, and the third one takes in a floating point number and returns the scientific number equivalent. </li>
              <li>In <a href="https://github.com/noashadmon/ecs154a">ECS 154</a> we have 5 folders. CacheFinal has the circuit file (to be opened with logism) for a cache. HW4 is my implementation (another .circ file) for a 4 bit CPU. HW2 contains a circuit file that does 4 bit addition and a circuit file to shift a number 3 places. HW3 contains a circuit file that does 4 bit parity check, a circuit file that counts up and down, and a circuit file that simulates a vending machine. Lastly, midterm contains a 5 bit division circuit file.</li>
              <li><a href="https://github.com/noashadmon/ecs152">ECS152</a> contains a python file that simulates the binary backoff/linear backoff algorithm for an ethernet.</li>
              <li><a href="https://github.com/noashadmon/RouterRunner">Router Runner</a> Uses bredth first search to simulate electricity being transfered from city to city when there is an outage.</li>
            </ul>

        </ul>
      {{ content }}
      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
